a {
  text-decoration: none;
}
section[id]{
  scroll-margin-top: 90px;
}

#CuerpoSearch {
  margin-top: 80px;
}
.btn-arriba {
  position: fixed;
  z-index: 999;
  bottom: 20px;
  left: 20px;
  border-radius: 50%;
  font-size: 20px;
  background-color: red;
  color: black;
  width: 45px;
  height: 45px;
  opacity: 0.75;
  border: 1px solid #e7eae8;
  cursor: pointer;
  animation: bounce_513 1s infinite;
}
.btn-cart {
  position: fixed;
  z-index: 999;
  bottom: 80px;
  left: 20px;
  border-radius: 50%;
  font-size: 20px;
  background-color: red;
  color: red;
  width: 45px;
  height: 45px;
  opacity: 0.75;
  border: 1px solid #e7eae8;
  cursor: pointer;
  animation: bounce_513 1s infinite;
}

@keyframes bounce_513 {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.card {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 0px 6px -4px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0px 0px 51px -36px rgba(0, 0, 0, 1);
}

.header {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.search {
  display: inline-block;
  position: relative;
  width: 400px;
  justify-content: center;
}

.search input[type="text"] {
  width: 600px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search button[type="submit"] {
  background-color: #4e99e9;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.9s ease;
}

.search button[type="submit"]:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  background-color: blue;
  animation: bounce_513 1s infinite;

}
.btn-return {
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica, "sans-serif";
  transition: all 0.2s;
  padding: 10px 20px;
  border-radius: 100px;
  background-color: rgb(255, 43, 43);
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.btn-return:hover {
  background-color: rgb(255, 0, 0);
}

.btn-return > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

.btn-return:hover svg {
  transform: translateX(5px);

}

.btn-return:active {
  transform: scale(0.95);
}
